<h3>Welcome to our Travels Agency</h3>
<p>Find more <a href='/travels/about' data-test-id='about'>about us</a></p>
{{#if suggestionCity}}
	<div>
		<p>Here is a suggestion of a city to visit: <i>{{suggestionCity}}</i></p>
	</div>
{{/if}}
<div>
	{{> weather}}
</div>